.photos__layout {
  display: flex;
  padding-left: 30px;
}

.photos__container {
  flex-grow: 1;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photos > * {
  max-height: 500px;
}

.photos > * img {
  max-height: 100%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  margin: 30px 0;
  padding: 0;
  font-size: 14pt;
  font-family: "Inter";
}

.pagination a {
  text-decoration: none;
  color: black;
  font-size: 22pt;
}


.photos__nav {
  padding: 0 20px;
  min-width: 300px;
  max-width: 300px;
  font-family: Inter, sans-serif;
}

.photos__nav a {
  text-decoration: none;
  color: black;
}

.photos__nav a:visited {
  color: black;
}

.photos__nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.photos__nav li {
  padding: 3px 7px;
}

.photos__nav li.selected {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  border-radius: 5px;
  background-color: #e4e4e4;
}

.photos__nav li.selected a {
  display: flex;
  align-items: center;
}

.photos__nav li.selected svg {
  width: 15px;
  height: 15px;
}
