.photos__layout {
  display: flex;
}

.photos__nav {
  padding: 20px;
  width: 20%;
  font-family: Inter, sans-serif;
}

.photos__nav a {
  text-decoration: none;
  color: black;
}

.photos__nav a:visited {
  color: black;
}

.photos__nav ul {
  list-style-type: none;
  padding: 0;
}

.photos__nav li.selected {
  display: inline-block;
  padding: 0px 7px;
  border-radius: 5px;
  background-color: #e4e4e4;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  gap: 20px;
  max-width: 1200px;
  flex-shrink: 1;
}

.photos > * {
  display: block;
}

.photos > * img {
  max-height: 300px;
}

.pagination {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

