.photos__layout {
  display: flex;
  gap: 20px;
  padding-left: 30px;
  padding-top: 30px;
}

.photos__container {
  flex-grow: 1;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photos > * {
  max-height: 500px;
  overflow: hidden;
  transition: transform 0.3s;
  display: none;
}

.photos > *:hover {
  transform: scale(1.01);
}

.photos > * img {
  object-fit: cover;
  max-height: 100%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style-type: none;
  margin: 30px 0;
  padding: 0;
  font-size: 14pt;
}

.pagination .arrow {
  text-decoration: none;
  color: var(--foreground);
  font-size: 22pt;
}

.pagination span.arrow {
  visibility: hidden;
}

.pagination .page {
  position: relative;
  font-weight: bold;
}

.pagination .page select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.photos__nav {
  flex-basis: max-content;
  min-width: 200px;
}

.photos__nav .close {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  appearance: none;
  padding: 0;
  width: 30px;
  height: 30px;
}

.photos__nav .close svg {
  width: 100%;
  height: 100%;
}

.photos__nav a {
  text-decoration: none;
  color: var(--foreground);
}

.photos__nav a:visited {
  color: var(--foreground);
}

.photos__nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.photos__nav li {
  padding: 3px 7px;
}

.photos__nav li.selected {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  border-radius: 5px;
  background-color: var(--light);
}

.photos__nav li.selected a {
  display: flex;
  align-items: center;
}

.photos__nav li.selected svg {
  width: 15px;
  height: 15px;
}

.photos__mobile-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.photos__mobile-nav button {
  border: solid var(--foreground) 1px;
  border-radius: 5px;
  padding: 5px 10px;
  background: none;
  appearance: none;
  font-size: 14pt;
}

.photos__mobile-nav .sort {
  text-decoration: none;
  color: var(--foreground);
  font-size: 14pt;
}

@media (max-width: 700px) {
  .photos__layout {
    flex-direction: column;
    padding: 30px;
  }

  .photos__nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background: var(--background);
  }

  .photos__nav .close {
    display: block;
  }

  .photos__nav.open {
    display: block;
  }

  .photos__mobile-nav {
    display: flex;
  }

  .photos > a {
    max-height: initial;
    width: 100%;
  }

  .photos > a img {
    width: 100%;
  }
}
