.photo__container {
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 30px;
}

.photo__image {
  display: flex;
}

.photo__image img {
  max-width: 100%;
  max-height: 85vh;
  height: 100%;
}

.photo__sidebar {
  flex-basis: max-content;
  /*max-width: 350px;*/
}

.photo__sidebar h2 {
  font-size: 10pt;
  border-bottom: solid var(--foreground) 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.photo__metadata {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.photo__metadata li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  font-size: 15pt;
  border-bottom: solid var(--foreground) 1px;
}

  
.photo__metadata li > *:first-child {
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: bold;
}

.photo__metadata li > *:last-child {
  text-wrap: nowrap;
}

.photo__tags {
  margin-top: 10px;
}

.photo__tags h3 {
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
}

.photo__tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo__tag {
  display: flex;
  height: fit-content;
}

.photo__tag a {
  border-radius: 5px;
  padding: 3px 7px;
  background-color: var(--light);
  color: var(--foreground);
  text-decoration: none;
}

@media (max-width: 1024px) {
  .photo__container {
    flex-direction: column;
  }

  .photo__sidebar {
    width: fit-content;
  }
}

@media (max-width: 600px) {
  .photo__container {
    padding: 30px 0;
  }

  .photo__sidebar {
    width: 100%;
    padding: 0 20px;
  }
}
