{% extends "layout" %}
{% set active_page = 'blog' %}
{% block title %}Blog{% endblock %}
{% block head %}
  {{ inline_style("src/views/blog/show/style.css") }}
  {% if has_code %}
    {{ inline_style("src/views/blog/show/syntax.css") }}
  {% endif %}
{% endblock %}
{% block body %}
  <div class="blog__container">
    <h1 class="blog__title">{{ post.title }}</h1>
    <p>
      <time datetime="{{ post.published_at }}">{{ post.published_at }}</time>
    </p>
    {{ toc_html }}
    <div class="blog__body">
      {{ body }}
    </div>
  </div>
{% endblock %}
