{% extends "layout" %}
{% set active_page = 'blog' %}
{% block title %}Blog{% endblock %}

{% block body %}
  <h1>{{ post.title }}</h1>
  <p>
    <time datetime="{{ post.published_at }}">{{ post.published_at }}</time>
  </p>
  {{ body }}
{% endblock %}
