{% extends "layout" %}
{% set active_page = 'blog' %}
{% block title %}Blog{% endblock %}
{% block head %}
  {{ inline_style("src/views/blog/show/style.css") }}
  {% if has_code %}
    {{ inline_style("src/views/blog/show/syntax.css") }}
  {% endif %}
{% endblock %}
{% block body %}
  <div class="blog__layout">
    <div class="blog__header">
      <h1 class="blog__title">{{ post.title }}</h1>
      <div>
        <span class="blog__tags-title">Posted</span>
        <time datetime="{{ post.published_at }}">{{ post.published_at }}</time>
      </div>
      <div class="blog__tags">
        <span class="blog__tags-title">Filed Under</span>
        <ul class="blog__tag-list">
          {% for tag in post.tags %}
            <li><a class="tag" href="/blog?tag={{ tag }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="blog__container">
      <div class="blog__body">
        {{ body }}
      </div>
      <div class="blog__toc">
        {{ toc_html }}
      </div>
    </div>
  </div>
  {{ inline_script("src/views/blog/show/script.js") }}
{% endblock %}
