:root {
  --foreground: black;
  --background: white;
  --half: color-mix(in srgb, var(--foreground) 50%, transparent);
  --light: color-mix(in srgb, var(--foreground) 6%, transparent);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background-color: var(--background);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

a {
  color: var(--foreground);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 3000px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  font-size: 13pt;
  width: 100%;
  border-bottom: solid var(--foreground) 3px;
}

header .title-container {
  display: flex;
}

header .title-container button {
  display: none;
  align-items: center;
  appearance: none;
  border: none;
  background: none;
  padding: 0 20px;
  color: var(--foreground);
}

header .title-container button svg {
  height: 30px;
}

header .home {
  display: block;
  flex-grow: 1;
  color: var(--foreground);
  text-transform: uppercase;
  margin: 0;
  padding: 10px 30px;
  letter-spacing: 3px;
  border-right: solid var(--foreground) 3px;
  text-decoration: none;
}

header .home h1 {
  font-weight: 900;
  margin: 0;
  font-size: 20pt;
}

header .home:hover {
  color: var(--background);
  background-color: var(--foreground);
}

header nav ul {
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: var(--foreground);
  padding: 0 30px;
}

header nav ul a.active, header nav ul a:hover {
  background-color: var(--foreground);
  color: var(--background);
}

@media (max-width: 850px) {
  header {
    flex-direction: column;
  }

  header .title-container button {
    display: flex;
  }

  header .home {
    padding: 10px 20px;
    border: none;
  }

  header nav.hidden {
    display: none;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul a {
    padding: 10px 20px;
  }

  .layout {
    padding: 0 20px;
  }
}

.layout {
  width: fit-content;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.page-title {
  font-size: 26pt;
  margin: 30px 0;
}

footer {
  margin-top: 30px;
  padding: 30px;
}

.footer__links {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.footer__links > * {
  flex-grow: 1
}

.footer__links h4 {
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 10pt;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: solid var(--foreground) 2px;
}

.footer__links ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__links a {
  text-decoration: none;
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__subtext {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
  color: var(--half);
}

.theme-swatches {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-swatch {
  width: 16px;
  height: 16px;
  appearance: none;
  border: solid var(--foreground) 1px;
}

.theme-swatch.selected {
  outline: solid var(--foreground) 2px;
  outline-offset: 2px;
}

@media (max-width: 700px) {
  footer {
    padding: 20px;
    margin-top: 0;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__subtext {
    flex-direction: column;
    gap: 10px;
  }
}
