<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/assets/app.css" />
  </head>
  <body>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    <script src="/assets/app.js" type="text/javascript"></script>
  </body>
</html>
