<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/assets/app.js" type="text/javascript"></script>
  </body>
</html>
