<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/app.css" />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/assets/app.js" type="text/javascript"></script>
  </body>
</html>
