{% extends "layout" %}
{% block title %}Photos{% endblock %}
{% block body %}
  <nav>
  {{ dir }}
    <ul>
    {% if current_tag %}
      <li>{{ current_tag }} <a href="/">🅇</a></li>
    {% endif %}
    {% for tag in tags %}
      <li>
        {% if current_tag == tag.name -%}
          {{ tag.name }} ({{ tag.count }})
        {% else -%}
          <a href="?tag={{ tag.name }}">
            {{ tag.name }} ({{ tag.count }})
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    <p>
      Sort: 
      {% if sort_dir == "asc" -%}
        <a href="/?dir=desc">↑</a>
      {% else -%}
        <a href="/?dir=asc">↓</a>
      {% endif %}
    </p>
    <select id="sort" name="sort">
      {% for field in sort_fields %}
        <option value="{{ field }}" {% if field == sort_field -%}selected="true"{% endif %}>{{ field }}</option>
      {% endfor %}
    </select>
    </select>
  </nav>
  <div class="photos">
    {% for photo in photos %}
      <a href="/{{ photo.id }}">
        <p><time datetime="{{ photo.taken_at }}">{{ photo.taken_at }}</time></p>
        <img
          style="aspect-ratio: {{ photo.width }} / {{ photo.height }}"
          src="/thumbnails/{{ photo.id }}.webp"
        >
      </a>
    {% endfor %}
  </div>

  {% if pagination.num_pages > 1 %}
    <ul class="pagination">
      {% if pagination.prev_query %}
        <a href="?{{ pagination.prev_query }}">←</a>
      {% endif %}
      <li>{{ pagination.page }} / {{ pagination.num_pages }}</li>
      {% if pagination.next_query %}
        <a href="?{{ pagination.next_query }}">→</a>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
