{% extends "layout" %}
{% block title %}Photos{% endblock %}
{% block body %}
  {% for photo in photos %}
    <div>
      <p>{{ photo.taken_at }}</p>
      <img src="/thumbnails/{{ photo.id }}.webp">
    </div>
  {% endfor %}
{% endblock %}
