{% extends "layout" %}
{% set active_page = 'blog' %}
{% block title %}Blog{% endblock %}
{% block head %}
  {{ inline_style("src/views/blog/index/style.css") }}
  {{ inline_style("src/styles/posts.css") }}
{% endblock %}
{% import "posts" as posts_macro %}

{% block body %}
<div class="layout">
  {{ posts_macro.header("Blog", tag=tag) }}
  {{ posts_macro.table(posts, root_path="/blog", tag=tag) }}
</div>
{% endblock %}
