{% extends "layout" %}
{% set active_page = 'blog' %}
{% block title %}Blog{% endblock %}

{% block body %}
Tags:
<ul>
  {% if tag %}
    <li>
      {{ tag }} <a href="/blog">X</a>
    </li>
  {% endif %}
  {% for t in tags %}
    {% if t[0] != tag %}
      <li>
        <a href="/blog?tag={{ url_escape(t[0]) }}">{{ t[0] }} {{ t[1] }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<ul>
{% for post in posts %}
  <li>
    <a href="/blog/{{ post.slug }}">{{ post.title }}</a>
    {% for t in post.tags %}
      <a href="/blog?tag={{ url_escape(t) }}">{{ t }}</a>
    {% endfor %}
      <time datetime="{{ post.published_at }}">{{ post.published_at }}</time>
  </li>
{% endfor %}
</ul>
{% endblock %}
