{% extends "layout" %}
{% set active_page = 'blog' %}
{% block title %}Blog{% endblock %}

{% block body %}
<ul>
{% for post in posts %}
  <li>
    <a href="/blog/{{ post.slug }}">{{ post.title }}</a>
    {% for tag in post.tags %}
      <a href="/blog?tag={{ tag }}">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ul>
{% endblock %}
